MAIN PAGE

<div>
  <p><span>
    <a routerLink = "/regions" routerLinkActive = "active">REGIONS </a>
  </span>
  <span>
    <a routerLink = "/add_region" routerLinkActive = "active">ADD REGION</a>
  </span></p>
  <p><span>
    <a routerLink = "/towns" routerLinkActive = "active">TOWNS </a>
  </span>
  <span>
    <a routerLink = "/add_town" routerLinkActive = "active">ADD TOWN</a>
  </span></p>
  <p><span>
    <a routerLink = "/categories" routerLinkActive="active">CATEGORIES </a>
  </span>
  <span>
    <a routerLink = "/add_category" routerLinkActive = "active">ADD CATEGORY</a>
  </span></p>
  <p><span>
    <a routerLink = "/roles" routerLinkActive = "active">ROLES </a>
  </span>
  <span>
    <a routerLink = "/add_role" routerLinkActive = "active">ADD ROLE</a>
  </span></p>
</div>
<router-outlet></router-outlet>
